@import "tailwindcss";

/* Color Palette */
@theme {
    --color-darkest-green:#0b2d2a;
    --color-dark-green:#123f34;
    --color-primary-green:#1f6b4e;
    --color-light-green:#2fa26a;
    --color-cyan:#2b7a88;
    --color-blue:#2b7a88;
    --color-light-blue:#3c8fb9;
    --color-orange:#c65a39;
    --color-yellow:#e39a3b;
    --color-purple:#69396a;
}

:root{
    background-color: lightyellow;
}